%btn {
    font-family: $secondaryFont;
    background-image: url("../images/buttonbg.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    color: $fontColor;
    border: none;
    padding: 21px 40px 12px;
}

.button {
    @extend %btn;

    &:hover {
        transform: scale(1.1);
    }
}