.button {
  font-family: "Aleo", serif;
  background-image: url("../images/buttonbg.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  color: #E8E8E8;
  border: none;
  padding: 21px 40px 16px;
}

.button:hover {
  transform: scale(1.1);
}

body {
  margin: 15px;
  width: 100%;
  font-family: "Josefin Sans", sans-serif;
  color: #E8E8E8;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #E8E8E8;
}

.section {
  max-width: 1770px;
  width: 100%;
}

.header-wrapper {
  width: 100%;
  max-height: 737px;
  height: 100%;
  background-image: url("../images/Header.png");
  background-position: center;
  background-size: cover;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-container {
  max-width: 660px;
  width: 100%;
  color: white;
}
.header-container .text-container {
  text-align: center;
}
.header-container .text-container h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 26px;
  letter-spacing: 4.8px;
  text-transform: uppercase;
  margin-top: 32vh;
}
.header-container .text-container h4 {
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 6.82px;
  margin-top: 11px;
}
.header-container .search-container {
  width: 90%;
  margin-top: 48px;
  display: flex;
}
.header-container .search-container form {
  width: 100%;
  height: 40px;
  display: flex;
}
.header-container .search-container input {
  width: 503px;
  max-height: 40px;
  height: 100%;
  background: #FFFFFF;
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  letter-spacing: 2.8px;
  color: #999999;
  border: none;
  padding: 0;
}
.header-container .search-container button {
  max-width: 153px;
  width: 100%;
  height: 100%;
  border: 2px solid #FFFFFF;
  padding: 0;
  background-color: #5474FD !important;
  background-image: none;
}
.header-container .search-container button:hover {
  transform: none;
  color: #bebebe;
}
.header-container .scroll-container {
  text-align: center;
  margin-top: 12vh;
  margin-bottom: 12vh;
}
.header-container .scroll-container:hover {
  transform: scale(1.1);
}

.nav {
  width: 100%;
  height: 83px;
  background-color: #5474FD;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav .nav-container {
  max-width: 1120px;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}
.nav .nav-container .logo {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 26px;
  letter-spacing: 2.4px;
  text-transform: uppercase;
}
.nav .nav-container .nav-links ul {
  list-style-type: none;
  display: flex;
}
.nav .nav-container .nav-links ul a {
  margin-left: 20px;
  font-family: "Aleo", serif;
}
.nav .nav-container .nav-links ul a:hover {
  font-weight: bold;
}

.choose {
  background-image: url(../images/whyUs.png);
  background-position: center;
  background-size: cover;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.choose-container {
  max-width: 1120px;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 14vh;
  margin-bottom: 14vh;
}

.section_left {
  max-width: 560px;
  width: 100%;
}
.section_left h2 {
  font-family: "Aleo", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 26px;
}
.section_left p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 1.6px;
  color: #E8E8E8;
}
.section_left p:first-of-type {
  margin-top: 50px;
}
.section_left p:last-of-type {
  margin-bottom: 45px;
}

.section_right {
  max-width: 350px;
  width: 100%;
}
.section_right img {
  width: 350px;
  height: 220px;
}
.section_right img:first-of-type {
  position: relative;
  right: 60px;
  margin-bottom: 10px;
}

.flow {
  width: 100%;
  height: 340px;
  background: #333333;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flow-container {
  max-width: 1120px;
  width: 90%;
}
.flow-container img {
  width: 100%;
}

.architecture {
  width: 100%;
  height: 700px;
  background-image: url("../images/house.png");
  background-position: center;
  background-size: cover;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  max-width: 1120px;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container__content {
  max-width: 543px;
  width: 100%;
  background: rgba(35, 35, 35, 0.9);
  mix-blend-mode: normal;
  padding: 50px 32px;
}
.container__content h6 {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 1.5px;
}
.container__content h3 {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-top: 23px;
}
.container__content p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  margin-top: 13px;
  margin-bottom: 46px;
}

.container__empty {
  max-width: 543px;
  width: 100%;
  min-height: 374px;
}

.shoreline {
  width: 100%;
  height: 700px;
  background-image: url("../images/shoreline.png");
  background-position: center;
  background-size: cover;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.recomendations {
  width: 100%;
  min-height: 731px;
  background-image: url("../images/recommendationsbg.png");
  background-position: center;
  background-size: cover;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.recomendations__container {
  max-width: 1120px;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.recomendations__container h2 {
  font-family: "Aleo", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 26px;
  color: #FFFFFF;
  margin-bottom: 11vh;
}

.card {
  width: 100%;
  display: flex;
  min-height: 244px;
}
.card__img {
  max-width: 445px;
  width: 100%;
  min-height: 244px;
  height: 100%;
}
.card__img img {
  width: 100%;
  height: 100%;
}
.card__txt {
  text-align: left;
  background: #333333;
  padding: 49px 25px 39px 62px;
  max-height: 284px;
  height: 100%;
}
.card__txt h3 {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
  color: #FEFEFE;
}
.card__txt i {
  color: #5474FD;
  padding-right: 10px;
}
.card__txt p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
}

.footer {
  width: 100%;
  height: 271px;
  background: #232323;
  display: flex;
  justify-content: center;
}
.footer__txt {
  text-align: center;
}
.footer__txt h5 {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 26px;
  letter-spacing: 3.36px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.footer__txt p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 1.6px;
  color: #FFFFFF;
  margin-top: 9px;
}
.footer__links {
  text-align: center;
  margin-top: 29px;
}
.footer__links i {
  padding: 5px;
}
.footer__links i:hover {
  color: #5474FD;
}

.footer-container {
  margin-top: 120px;
  margin-bottom: 50vh;
}

@media screen and (max-width: 760px) {
  .nav-container {
    flex-wrap: wrap;
    justify-content: center;
  }
}
/*# sourceMappingURL=index.css.map */